/* reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* commons */
body{
background-color: #f6f8f9;
font-family: Arial, Helvetica, sans-serif
}

.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccd2d6;
    }

h2{
        font-size: 15px;
        font: bold;
        padding-top: 10px;
        padding-left: 10px;
}

ul{
    list-style: none;
}

li{
    font-size: 12px;
    padding: 10px;
}

/* header */
header{
        background-color: white;
        padding: 10px 20px;
    }

/* components */
.btn{
        text-decoration: none;
        padding: 5px;
        border-radius: 7px;
        display: inline-block;
        border: 1px solid lightgray;
   }

.btn-blue {
    background-color: #14aaf5;
    color: white;
    border-color: #14aaf5;
}

.btn-disabled{
    background-color: #ffffff;
    color: #ccd2d6;
}

.top{
    padding-bottom: 7px;
    padding-top: 7px;
}

.task{
margin-left: 220px;
}

.circle{
        border: 1px solid green;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: inline-block;
        text-align: center;
        font-size: 10px;
        color: green;
        margin-right: 10px;
}

.cross{
    border: 1px solid red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    color: red;
    margin-right: 10px;
}

.button{
    font-size: x-small;
    padding: 5px;
    border-radius: 10px;
    color: white;
    margin-left: 3px;
}

.recruiting{
    border:#2cc6ab;
    background-color: #2cc6ab;
}

.mobile{
    border: #ff9b00;
    background-color: #ff9b00;
}

.website{
    border: #ec4a9d;
    background-color: #ec4a9d;
}

.sales{
    border: #a3d117;
    background-color: #a3d117;
}

.editorial{
    border: #14aaf5;
    background-color: #14aaf5;
  }

.q1{
    border: #ab5de6;
    background-color: #ab5de6;
}
