*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
background-color: #f6f8f9;
font-family: Arial, Helvetica, sans-serif
}

header{
    background-color: white;
    padding-left: 20px;
}

.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    }

    .btn{
        text-decoration: none;
        border: 1px, solid, grey;
        padding: 5px;
        border-radius: 3px;
    }

.btn-blue {
    background-color: #14aaf5;
    color: white;
}

.btn-disabled{
    background-color: #ffffff;
    color: #ccd2d6;
    border: 1px solid lightgray;
}

.top{
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 0px;
}
ul{
    list-style: none;
    }

h2{
    font-size: 15px;
    font: bold;
    padding-top: 10px;
    margin-left: 230px;
}

li{
    font-size: 12px;
    padding: 10px;
    margin-left: 220px;
}

.circle{
        border: 1px solid green;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: inline-block;
        text-align: center;
        font-size: 10px;
        color: green;
        margin-right: 10px;
}

.editorial{
    font-size: x-small;
    border: #14aaf5;
    padding: 5px;
    border-radius:10px;
    background-color: #14aaf5;
    color: white;
    margin-left: 3px;
}

.q1{
    font-size: x-small;
    border: #ab5de6;
    padding: 5px;
    border-radius: 10px;
    background-color: #ab5de6;
    color: white;
    margin-left: 3px;
}

.cross{
    border: 1px solid red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    color: red;
    margin-right: 10px;
}

.recruiting{
    font-size: x-small;
    border:#2cc6ab;
    padding: 5px;
    border-radius: 10px;
    background-color: #2cc6ab;
    color: white;
    margin-left: 3px;
}

.mobile{
    font-size: x-small;
    border: #ff9b00;
    padding: 5px;
    border-radius: 10px;
    background-color: #ff9b00;
    color: white;
    margin-left: 3px;
}

.website{
    font-size: x-small;
    border: #ec4a9d;
    padding: 5px;
    border-radius: 10px;
    background-color: #ec4a9d;
    color: white;
    margin-left: 3px;
}

.sales{
    font-size: x-small;
    border: #a3d117;
    padding: 5px;
    border-radius: 10px;
    background-color: #a3d117;
    color: white;
    margin-left: 3px;
}